@using Vehicle_Appraisal_WebApi.ViewModels
@model PageResultVM<CustomerVM>
@{
    Layout = Layout;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><a href="/customer/GetAll">CUSTOMER</a></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                        <li class="breadcrumb-item active">Customer</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="row">
        <div class="col-md-auto" style="margin-left:1rem">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
            @if (ViewBag.ErrorMsg != null)
            {
                <div id="msgAlert" class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMsg
                </div>
            }
        </div>
    </div>
    <div class="card-header">
        <a id="btn-create" class="btn btn-primary" href="/customer/insert">
            <i class="far fa-plus-square"></i>
            Create
        </a>
    </div>
    <form class="input-group" asp-action="GetAll" method="get">
            <select class="btn btn-primary" name="subjects" style="margin-left:1rem">
                <option>Name</option>
                <option>Phone</option>
                <option>Email</option>
                <option>Address</option>
                <option>City</option>
                <option>Country</option>
            </select>
            <div class="col-3">
                <input type="text" name="keyWord" class="form-control" placeholder="Search for..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
    </form><br />
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Date</th>
                                            <th>First Name</th>
                                            <th>LastName</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Address1</th>
                                            <th>Address2</th>
                                            <th>City</th>
                                            <th>Country</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Items != null)
                                        {
                                            var i = 0;
                                            foreach (var item in Model.Items)
                                            {
                                                <tr>
                                                    <td>
                                                        @{
                                                            i += 1;
                                                        }
                                                        @i
                                                    </td>
                                                    <td>
                                                        @item.CreateAt.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.FirstName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.LastName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.Phone)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.Email)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.Address1)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.Address2)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.City)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.Country)
                                                    </td>

                                                    <td>
                                                        @Html.ActionLink("Edit", "update", "customer", new
                                                        {
                                                            item.Id,
                                                            item.CreateAt,
                                                            item.FirstName,
                                                            item.LastName,
                                                            item.Phone,
                                                            item.Email,
                                                            item.Address1,
                                                            item.Address2,
                                                            item.City,
                                                            item.Country
                                                        }) |
                                                        <a href="@Url.Action("DeleteAction","customer",new { item.Id })" type="text" class="text-primary" onclick="return confirm('Are you sure want delete Customer: @item.FirstName @item.LastName')">
                                                            Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @await Component.InvokeAsync("Pager", Model)
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="~/ThemeLTE/plugins/jquery/jquery.min.js"></script>
<!-- /.Alert function -->
<script>
    setTimeout(function () {
        $("#msgAlert").fadeOut('slow');
    }, 5000);
</script>
