@using Vehicle_Appraisal_WebApi.ViewModels
@model PageResultVM<AppUserModelMVC>
@{
    Layout = Layout;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><a href="/user/GetAll">USERS</a></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="row">
        <div class="col-md-auto" style="margin-left:1rem">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
            @if (ViewBag.ErrorMsg != null)
            {
                <div id="msgAlert" class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMsg
                </div>
            }
        </div>
    </div>
    <form asp-action="GetById" method="get">
        <div class="input-group mb-3" style="width:300px; margin-left:1.2rem">
            <input type="text" name="Id" class="form-control" placeholder="Input ID" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
            <div class="input-group-append">
                <button type="submit" class="input-group-text btn-primary" id="basic-addon2">Get Users</button>
            </div>
            <div class="form-group" style="width:300px">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" id="Search" placeholder="Search" class="form-control" />
                </div>
            </div>
        </div>
    </form>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Date</th>
                                            <th>UserName</th>
                                            <th>Email</th>
                                            <th>ConfirmEmail</th>
                                            <th>FullName</th>
                                            <th>Role</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Items != null)
                                        {
                                            foreach (var item in Model.Items.Where(x => x.appUserVM.AppUserRolesId == 2))
                                            {
                                                <tr class="Search">
                                                    <td>
                                                        @Html.DisplayFor(Model => item.appUserVM.Id)
                                                    </td>
                                                    <td>
                                                        @item.appUserVM.CreateAt.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.appUserVM.UserName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.appUserVM.Email)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.appUserVM.ConfirmEmail)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.appUserVM.FullName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.appUserRoleVM.Name)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Edit", "updateUsers", "user", new
                                                        {
                                                       item.appUserVM.Id,
                                                       item.appUserVM.CreateAt,
                                                       item.appUserVM.UserName,
                                                       item.appUserVM.Email,
                                                       item.appUserVM.FullName,
                                                       item.appUserRoleVM.Name
                                                        }) |
                                                        @Html.ActionLink("Details", "Details", new { }) |
                                                        <a href="@Url.Action("DeleteAction","user",new { item.appUserVM.Id })" type="text" class="text-primary" onclick="return confirm('Are you sure want delete User with ID = @item.appUserVM.Id')">
                                                            Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @await Component.InvokeAsync("Pager", Model)
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

</div>

<!-- jQuery -->
<script src="~/ThemeLTE/plugins/jquery/jquery.min.js"></script>
<!-- /.Search function -->
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>
<!-- /.Alert function -->
<script>
    setTimeout(function () {
        $("#msgAlert").fadeOut('slow');
    }, 5000);
</script>