@using Vehicle_Appraisal_WebApi.ViewModels
@model PageResultVM<VehicleVM>
@{
    Layout = Layout;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><a href="/vehicle/getall">VEHICLE</a></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                        <li class="breadcrumb-item active">Vehicle</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="row">
        <div class="col-md-auto" style="margin-left:1rem">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
            @if (ViewBag.ErrorMsg != null)
            {
                <div id="msgAlert" class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMsg
                </div>
            }
        </div>
    </div>
    @if (User.Claims.Where(x => x.Type.Equals("Role")).FirstOrDefault().ToString().Split(':').ElementAt(1).Trim() == "Admin")
    {
        <div class="card-header">
            <a id="btn-create" class="btn btn-primary" href="/vehicle/insert">
                <i class="far fa-plus-square"></i>
                Create
            </a>
        </div>
        <form class="input-group" asp-action="GetAll" method="get">
            <select class="btn btn-primary" name="subjects" style="margin-left:1rem">
                <option>Customer</option>
                <option>Make</option>
                <option>Model</option>
                <option>Odometer</option>
                <option>VIN</option>
                <option>Engine</option>
            </select>
            <div class="col-3">
                <input type="text" name="keyWord" class="form-control" placeholder="Search for..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
        </form><br>
    }
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Date</th>
                                            <th>Customer</th>
                                            <th>Make</th>
                                            <th>Model</th>
                                            <th>VIN</th>
                                            <th>Odometer</th>
                                            <th>Engine</th>
                                            <th>Users</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Items != null)
                                        {
                                            if (User.Claims.Where(c => c.Type.Equals("Role")).FirstOrDefault().ToString().Split(':').ElementAt(1).Trim() != "Admin")
                                            {
                                                var i = 0;
                                                foreach (var item in Model.Items.Where(x => x.AppUserVM.FullName.Equals(User.Claims.Where(c => c.Type.Equals("FullName")).FirstOrDefault().ToString().Split(':').ElementAt(1).Trim())))
                                                {
                                                    <tr>
                                                        <td>
                                                            @{
                                                                i += 1;
                                                            }
                                                            @i
                                                        </td>
                                                        <td>
                                                            @item.CreateAt.ToString("dd/MM/yyyy")
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.CustomerVM.FirstName) @Html.DisplayFor(Model => item.CustomerVM.LastName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.MakeVM.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.ModelVM.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.VIN)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.Odometer)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.Engine)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.AppUserVM.FullName)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Condition", "GetAllConditionById", new { item.Id, i })
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                var i = 0;
                                                foreach (var item in Model.Items)
                                                {
                                                    <tr>
                                                        <td>
                                                            @{
                                                                i += 1;
                                                            }
                                                            @i
                                                        </td>
                                                        <td>
                                                            @item.CreateAt.ToString("dd/MM/yyyy")
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.CustomerVM.FirstName) @Html.DisplayFor(Model => item.CustomerVM.LastName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.MakeVM.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.ModelVM.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.VIN)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.Odometer)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.Engine)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(Model => item.AppUserVM.FullName)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Edit", "update", "vehicle", new
                                                            {
                                                                item.Id,
                                                                item.CreateAt,
                                                                item.Odometer,
                                                                item.VIN,
                                                                item.Engine,
                                                                MakeName = item.MakeVM.Name,
                                                                item.AppUserVM.FullName,
                                                                ModelName = item.ModelVM.Name,
                                                                item.CustomerVM.FirstName,
                                                                item.CustomerVM.LastName,
                                                            }) |
                                                            @Html.ActionLink("Condition", "GetAllConditionById", new { item.Id, i }) |
                                                            @Html.ActionLink("AppraisalValue", "GetAllAppraisalValueById", new { item.Id, i }) |
                                                            <a href="@Url.Action("DeleteAction", "vehicle", new { item.Id })" type="text" class="text-primary" onclick="return confirm('Are you sure want delete Vehicle: @item.MakeVM.Name @item.ModelVM.Name of Customer: @item.CustomerVM.FirstName @item.CustomerVM.LastName')">
                                                                Delete
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @await Component.InvokeAsync("Pager", Model)
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script src="~/ThemeLTE/plugins/jquery/jquery.min.js"></script>
<!-- /.Alert function -->
<script>
    setTimeout(function () {
        $("#msgAlert").fadeOut('slow');
    }, 5000);
</script>