@using Vehicle_Appraisal_WebApi.ViewModels
@model List<VehicleAppraisalVM>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vehicle_Appraisal_WebMVC</title>
    <!-- Font Awesome -->
    <link href="~/ThemeLTE/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/ThemeLTE/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <div class="wrapper">


        <!-- Content Wrapper. Contains page content -->
        <div class="content">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1><a href="#">APPRAISALVALUE</a></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                                @if (ViewBag.isBought == false)
                                {
                                    <li class="breadcrumb-item active"><a href="/vehicle/getall">Vehicle</a></li>
                                }
                                @if (ViewBag.isBought == true)
                                {
                                    <li class="breadcrumb-item active"><a href="/vehicle/getallVehicleBought">VehicleBought</a></li>
                                }
                                <li class="breadcrumb-item active">@ViewBag.i</li>
                                <li class="breadcrumb-item active">AppraisalValue</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <div class="row">
                <div class="col-md-auto" style="margin-left:1rem">
                    @if (ViewBag.SuccessMsg != null)
                    {
                        <div id="msgAlert" class="alert alert-success" role="alert">
                            @ViewBag.SuccessMsg
                        </div>
                    }
                    @if (ViewBag.ErrorMsg != null)
                    {
                        <div id="msgAlert" class="alert alert-danger" role="alert">
                            @ViewBag.ErrorMsg
                        </div>
                    }
                </div>
            </div>
            @if (ViewBag.isBought == false)
            {
                if (Model.Count == 0)
                {
                    <div class="card-header">
                        <a id="btn-create" class="btn btn-primary" href="/vehicleappraisal/insert/@ViewBag.id">
                            <i class="far fa-plus-square"></i>
                            Create
                        </a>
                    </div>
                }
            }
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>AppraisalValue</th>
                                                @if (ViewBag.isBought == false)
                                                {
                                                    <th>Options</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    if (item.Id != 0)
                                                    {
                                                        <tr class="Search">
                                                            <td>
                                                                @item.CreateAt.ToString("dd/MM/yyyy")
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(Model => item.AppraisalValue)
                                                            </td>
                                                            @if (ViewBag.isBought == false)
                                                            {
                                                                <td>
                                                                    @Html.ActionLink("Edit", "update", "vehicleappraisal", new { item.Id, item.CreateAt, item.AppraisalValue, item.VehicleId }) |
                                                                    <a href="@Url.Action("DeleteAction", "vehicleappraisal", new { item.Id, item.VehicleId })" type="text" class="text-primary" onclick="return confirm('Are you sure want delete appraisal value with ID = @item.Id')">
                                                                        Delete
                                                                    </a> |
                                                                    <a href="@Url.Action("BuyVehicle", "vehicle", new { id = item.VehicleId })" type="text" class="text-primary" onclick="return confirm('Are you sure want to buy this vehicle with value = @item.AppraisalValue')">
                                                                        Buy
                                                                    </a>
                                                                </td>
                                                            }
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.0.5
            </div>
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- jQuery -->
    <script src="~/ThemeLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/ThemeLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/ThemeLTE/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/ThemeLTE/dist/js/demo.js"></script>
    <!-- /.Alert function -->
    <script>
        setTimeout(function () {
            $("#msgAlert").fadeOut('slow');
        }, 5000);
    </script>
</body>
</html>
