@using Vehicle_Appraisal_WebApi.ViewModels
@model PageResultVM<VehicleVM>
@{
    Layout = Layout;
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><a href="/vehicle/getallvehiclebought">VEHICLE BOUGHT</a></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                        <li class="breadcrumb-item active">VehicleBought</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <form asp-action="GetAllVehicleBought" asp-controller="vehicle" method="get" class="row card-header">
        <label for="fromdate">FromDate</label>
        <div class="col-3" id="fromdate">
            <input type="date" name="fromDate" required />
        </div>
        <label for="todate">ToDate</label>
        <div class="col-3" id="todate">
            <input type="date" name="toDate" required />
        </div>
        <div class="rol">
            <button type="submit" id="btn-create" class="btn btn-primary">
                <i class="fa fa-search"></i>
                Search
            </button>
        </div>
    </form>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Date</th>
                                            <th>Customer</th>
                                            <th>Make</th>
                                            <th>Model</th>
                                            <th>VIN</th>
                                            <th>Odometer</th>
                                            <th>Engine</th>
                                            <th>Users</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Items != null)
                                        {
                                            var i = ((Model.PageIndex - 1) * Model.PageSize);
                                            foreach (var item in Model.Items)
                                            {
                                                <tr>
                                                    <td>
                                                        @{
                                                            i += 1;
                                                        }
                                                        @i
                                                    </td>
                                                    <td>
                                                        @item.UpdateAt.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.CustomerVM.FirstName) @Html.DisplayFor(Model => item.CustomerVM.LastName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.MakeVM.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.ModelVM.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.VIN)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.Odometer)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.Engine)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(Model => item.AppUserVM.FullName)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Condition", "GetAllConditionById", new { item.Id, item.isBought, i }) |
                                                        @Html.ActionLink("AppraisalValue", "GetAllAppraisalValueById", new { item.Id, item.isBought, i })
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @await Component.InvokeAsync("Pager", Model)
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
