@model VehicleModelMVC
@{
    Layout = Layout;
}

<div class="content-wrapper">


    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1><a href="/vehicle/getall">VEHICLE</a></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                            <li class="breadcrumb-item"><a href="/vehicle/GetAll">Vehicle</a></li>
                            <li class="breadcrumb-item active">GetById</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="card-header">
            <a id="btn-create" class="btn btn-primary" href="/vehicle/insert">
                <i class="far fa-plus-square"></i>
                Create
            </a>
        </div>
        <form asp-action="GetById" method="get">
            <div class="input-group mb-3" style="width:300px; margin-left:1.2rem">
                <input type="text" name="Id" class="form-control" placeholder="Input ID" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                <div class="input-group-append">
                    <button type="submit" class="input-group-text btn-primary" id="basic-addon2">Get Vehicle</button>
                </div>
            </div>
        </form>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Date</th>
                                            <th>Customer</th>
                                            <th>Make</th>
                                            <th>Model</th>
                                            <th>VIN</th>
                                            <th>Odometer</th>
                                            <th>Engine</th>
                                            <th>Users</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            <tr>
                                                <td>
                                                    @Model.vehicleVM.Id
                                                </td>
                                                <td>
                                                    @Model.vehicleVM.CreateAt.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @Model.customerVM.FirstName @Model.customerVM.LastName
                                                </td>
                                                <td>
                                                    @Model.makeVM.Name
                                                </td>
                                                <td>
                                                    @Model.modelVM.Name
                                                </td>
                                                <td>
                                                    @Model.vehicleVM.Odometer
                                                </td>
                                                <td>
                                                    @Model.vehicleVM.VIN
                                                </td>
                                                <td>
                                                    @Model.vehicleVM.Engine
                                                </td>
                                                <td>
                                                    @Model.appUserVM.FullName
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "update", "vehicle", new
                                              {
                                                  Model.vehicleVM.Id,
                                                  Model.vehicleVM.Odometer,
                                                  Model.vehicleVM.VIN,
                                                  Model.vehicleVM.Engine,
                                                  Model.makeVM.Name,
                                                  Model.appUserVM.FullName,
                                                  Model.vehicleVM.ModelId,
                                                  Model.customerVM.FirstName,
                                                  Model.customerVM.LastName,
                                              }) |
                                                    @Html.ActionLink("Details", "Details", new { }) |
                                                    <a href="@Url.Action("DeleteAction","vehicle",new { Model.vehicleVM.Id })" type="text" class="text-primary" onclick="return confirm('Are you sure want delete vehicle with ID = @Model.vehicleVM.Id')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
